extends layout

block content
  form(action='/install', method='post')
    div(class='form-group')
      label(for='appid') アプリケーションID
      if messages != null && messages.appid_error != null
        input(style='border: solid 3px #FF0000' type='text', class='form-control', id='appid', name='appid', value=parameters.appid)
        font(color="#FF0000")!= messages.appid_error
      else
        if parameters != null && parameters.appid != null
          input(type='text', class='form-control', id='appid', name='appid', value=parameters.appid)
        else
          input(type='text', class='form-control', id='appid', name='appid')
    div(class='form-group') 
      label(for='region') サーバ
      select(class='form-control', id='region', name='region')
        if parameters != null
          each server, index in servers
            if parameters.region != null && parameters.region === server
              option(selected)= server
            else
              option= server
        else
          option RU
          option EU
          option NA
          option ASIA
    div(class='form-group')
      label(for='application_id') インストール先（デフォルト:「C:\Games\World_of_Warships」）
      if messages != null && messages.directory_error != null
        input(style='border: solid 3px #FF0000' type='text', class='form-control', id='directory', name='directory', value=parameters.directory)
        font(color="#FF0000")!= messages.directory_error
      else
        if parameters != null && parameters.directory != null
          input(type='text', class='form-control', id='directory', name='directory', value=parameters.directory)
        else    
          input(type='text', class='form-control', id='directory', name='directory', value='C:\\Games\\World_of_Warships')
    div(class='submit', style='margin-top: 25px')
      button(type='submit', class='btn btn-primary mb-2') 保存
