extends ./layout

block content
  #app
    form(action='/configure', method='post')
      div(class='form-group')
        label(for='appid') Application ID
        if appid !== undefined
          input(type='text', class='form-control', id='appid', name='appid', value=appid)
        else
          input(type='text', class='form-control', id='appid', name='appid')

        if appidError !== undefined
          .alert.alert-danger #{appidError}
      
      div(class='form-group')
        label(for='region') Region
        select(class='form-control', id='region', name='region')
          each server, index in servers
            if region !== undefined && region === server
              option(selected)= server
            else
              option= server
      
        if regionError !== undefined
          .alert.alert-danger #{regionError}
      
      div(class='form-group')
        label(for='installPath') Install path
        if installPath !== undefined
          input(type='text', class='form-control', id='installPath', name='installPath', value=installPath)
        else
          input(type='text', class='form-control', id='installPath', name='installPath', value='C:\\Games\\World_of_Warships')

        if installPathError !== undefined
          .alert.alert-danger #{installPathError}
      
      div(class='submit', style='margin-top: 12px')
        center
          button(type='submit', class='btn btn-primary mb-2') Save
          button(type='button', class='btn btn-secondary mb-2', style='margin-left: 12px', onclick="location.href='/'") Cancel

block script
  script(src='../javascripts/configure.js')
